@import url(./__icon/infotooltip__icon.css);
/* .infotooltip {

  width: 358px;
  background-color: #fff;
  color: #000;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  text-align: center;
} */
